<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
     <div data-view="Countdown" data-title="Old Time Candy Launch" data-end="29-July-2014 07:00:00"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="klimato" data-view="Klimato"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Tracker" data-id="my_tracker_project" data-title="George Michael's Tracker"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Tracker" data-id="their_tracker_project" data-title="The Other George's"></div>
    </li>

  </ul>
</div>